<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <script
            type="text/javascript"
            src="{{ url_for('static', filename='js/script.js') }}"
            defer
        ></script>
        <link
            rel="stylesheet"
            type="text/css"
            href="/static/css/bootstrap.css"
        />
        <title>KitchenQuest - View {{one_spell.name}} Spell</title>
    </head>
    <body>
        <div class="header-left">
            <h1 class="h1 text-warning">KitchenQuest</h1>
            <p class="h5 text-warning">Track Ingredients | Fight Bosses | Eat Well</p>
        </div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            aria-current="page"
                            href="/dashboard"
                            >Dashboard</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            aria-current="page"
                            href="/ingredients/search"
                            >Search Ingredients</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            aria-current="page"
                            href="/recipes/search"
                            >Search Recipes</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            aria-current="page"
                            href="/logout"
                            >Logout</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <main>
            <h1>{{ one_spell.name }} Spell</h1>
            <img
                src="{{ one_spell.image }}"
                alt=""
            />
            <form action="/spells/add_to_spellbook/" method="POST">
                <label>How Many Servings?</label>
                <input type="float" name="current_servings">
                <label>One serving is equal to:</label>
                <input type="float" name="serving_value" />
                <select name="serving_unit">
                    {% with possible_units = one_spell.possible_units %} {%
                        for item in possible_units %}
                        <option value="{{item}}">{{item}}</option>
                        {% endfor %} {% endwith %}
                </select>
                <label>Expiration Date: <input type="date" name="expiration_date"></label>
                <input type="submit" value="Add to Spellbook">
                <!-- Hidden Values -->
                <input type="hidden" name="image" value="{{ one_spell.image }}">
                <input type="hidden" name="id" value="{{ one_spell.id }}">
                <input type="hidden" name="user_id" value="{{ session['user_id'] }}">
                <input type="hidden" name="isFrozen" value="0">
                <input type="hidden" name="api_spell_id" value="{{ one_spell.api_spell_id }}">
                <input type="hidden" name="name" value="{{ one_spell.name }}">
                <input type="hidden" name="possible_units" value="{{ one_spell.possibleUnits }}">
                <input type="hidden" name="is_frozen" value=0>
            </form>
            <div>
            <p>How do I know how many servings I have?</p>
            <p>Check the nutrition label on the back:</p>
            <img src="/static/images/nutrition_facts.JPG" alt="">
            </div>
        </main>
    </body>
</html>
