<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <script
            type="text/javascript"
            src="{{ url_for('static', filename='js/script.js') }}"
            defer
        ></script>
        <link
            rel="stylesheet"
            type="text/css"
            href="../static/css/bootstrap.css"
        />
        <title>KitchenQuest - View {{one_spell.name}} Spell</title>
    </head>
    <body>
        <div class="header-left">
            <h1 class="h1 text-warning">KitchenQuest</h1>
            <p class="h5 text-warning">Track Ingredients | Fight Bosses | Eat Well</p>
        </div>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            aria-current="page"
                            href="/dashboard"
                            >Dashboard</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            aria-current="page"
                            href="/ingredients/search"
                            >Search Ingredients</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            aria-current="page"
                            href="/recipes/search"
                            >Search Recipes</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            aria-current="page"
                            href="/logout"
                            >Logout</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <main>
            <h1>{{ one_spell.name }} Spell</h1>
            <img
                src="https://spoonacular.com/cdn/ingredients_500x500/{{
                    one_spell.id
                }}"
                alt=""
            />
            <p>Number of Charges: {{ one_spell.current_charges }}</p>
            <p>
                One Charge is equal to: {{one_spell.charge_amount}}
                {{one_spell.charge_unit}}
            </p>
            <p>Expires On: {{one_spell.expiration_date}}</p>
            <p>
                <a href="/spells/edit/{{one_spell.id}}">Edit</a> |
                <a href="/spells/delete/{{one_spell.id}}">Delete</a>
            </p>
        </main>
    </body>
</html>
